{% load static %}
#cabecalho{
  background-image: url({% url "assets/img/Event2.jpeg" %});
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
  
}
@font-face{
  font-family: infanto;
  src: url({% url "assets/fonts/CuteNotes.ttf" %});
}
#textocabeca{
  font-family:infanto;
  font-size:72px;
  background-color: rgba(23,162,184, 0.8);
  border-radius: 10px;
  width:auto;
  color: white;
  
  
}
#arquivos{
background-color: ;
text-align: center;
width: 70%;
margin-left: auto;
margin-right: auto;

}
body{
background-image:url({% url "assets/img/papeldeparede.jpg" %})
}
#titulo{
font-family:monospace;
text-align: center;
font-size: 60px;
color:white;
background-color: rgba(23,162,184);
width:auto;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
}