{% extends 'base.html' %}
{% load app_core_filters %}
{% load static %}
{% block conteudo %} 
<header class="masthead bg-secpondary text-secondary" id="cabecalho" style="background-image: url('{% static 'assets/img/papeldeparedef2.jpg' %}')">
    <div class="container">
        <!-- Materias Section Heading-->
        <div class="text-center" style="padding: 20px; background-color: rgba(23,162,184, 0.8);border-radius: 10px;">
          <h2 class="d-inline-block mb-0 text-white" id="#textocabeca">{{ nome_model_plural }}</h2>
        </div>
      <!-- Lembretes Section Content-->
      {% if objects %}
      <div class="row justify-content-center text-left" style="padding: 20px;">
          {% for object in objects %}
          <div class="col-sm-4" style="padding-bottom: 10px;">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ object|value_field_index_filter:1 }}</h5>
                      <p class="card-text">{{ nome_nivel }}</p>
                      <a href="{% url url_listar_materiais object.id %}" class="btn btn-info">Clique aqui!</a>
                  </div>
              </div>
          </div> 
          {% endfor %}
          {% else %}
          <div class="justify-content-center text-justify"></div>
              <p class="pre-wrap lead text-center">Não há SÉRIES escolares cadastradas para este nível educacional!</p>
          </div>
          {% endif %}
      </div>
</header>
{% endblock %}