{% extends 'base.html' %}
{% load app_material_filters %}
{% block conteudo %}
<header class="masthead bg-secpondary text-secondary">
    <div class="d-flex justify-content-center flex-wrap">
        <div class="col-lg-6">
            <div class="alert alert-primary text-center" role="header">
                <h4>{{ nome_model | upper}}</h4>
            </div>
            <div class="alert alert-primary">
                <div class="card-body" style="background-color: rgb(197, 248, 190);">
                    <p><strong>{{ object|verbose_name_field_filter:0 }}:</strong>&nbsp;{{ object | value_field_index_filter:0 | stringformat:'04d' }}</p>
                    <p><strong>{{ object|verbose_name_field_filter:1|upper }}:</strong>&nbsp;{{ object | value_field_index_filter:1 }}</p>
                    <p><strong>{{ object|verbose_name_field_filter:2|upper }}:</strong>&nbsp;<a href="/media/{{ object | value_field_index_filter:2 }}">{{ object | value_field_index_filter:2 }}</a></p>
                    <p><strong>{{ object|verbose_name_field_filter:3|upper }}:</strong>&nbsp;{{ object | value_field_index_filter_S_N:3 }}</p>
                    <a href="{% url url_excluir object.id %}" class="btn btn-danger btn-sm my-2 my-sm-0 btnSpace"><i
                            class="far fa-trash-alt"></i>&nbsp;Excluir</a>
                    <a href="{% url url_alterar object.id %}" class="btn btn-warning btn-sm my-2 my-sm-0 btnSpace">
                        <i class="far fa-edit"></i>&nbsp;Alterar</a>
                    <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="btn btn-success btn-sm my-2 my-sm-0 btnSpace">
                    <i class="far fa-caret-square-left"></i>&nbsp;Voltar</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

